{% extends 'layout.html' %}
{% block body_content %}
    <br>
    <br>
    There are {{ totals['total_incomplete'] }} incomplete
    <br>
    <br>
    In {{ totals['total_complete'] }} complete
    <br>
    <br>
    There are a total of {{ totals['total'] }} tasks.

    {% if totals['total'] == 0 %}
       
        <h3>Add some walls</h3>
    
    {% elif totals['total'] < 10 %}

        <h3>You can get 10 task </h3>
    
    {% elif totals['total'] >= 10 %}

        <h3>That's alot of tasks</h3>

    {% endif %}
    <div>
        <form action="{{ url_for('index') }}" method='POST'>
            {{ form.order_with }}
            {{ form.submit }}
        </form>
        {% for todo in todos %}

            {{ todo.task }}
            {% if todo.complete == True %}
                &#9989
                <form action='{{ url_for('incomplete', id=todo.id) }}'>
                <input type=submit value="Click to mark as not Completed">
                </form>
            {% else %}
	    	&#10060
                <form action='{{ url_for('complete', id=todo.id) }}'>
                <input type=submit value="Click to mark as Complete">
                </form>
            {% endif %}
            <form action='{{ url_for('update', id=todo.id) }}'>
            <input type=submit value="Edit">
            </form>
            <form action='{{ url_for('delete', id=todo.id) }}'>
            <input type=submit value="Remove">
            </form>
            <br>

        {% endfor %}
    <div>
{% endblock body_content %}

